/* Coolors Exported Palette - coolors.co/56d73d-0b4f6c-01baef-fbfbff-757575 */
/* HSL */
/* RGB */
@import url("https://fonts.googleapis.com/css?family=Montserrat|Raleway");
* {
  margin: 0;
  padding: 0;
  transition-duration: .2s; }

html {
  box-sizing: border-box;
  scroll-behavior: smooth; }

::selection {
  background-color: #101113;
  color: silver; }

li {
  list-style: none; }

a {
  color: silver;
  text-decoration: none; }

h1, h2, h3, p, label, a {
  font-family: "Montserrat", sans-serif; }

.navbar {
  width: 100%;
  z-index: 1000;
  min-height: 60px;
  line-height: 60px;
  justify-self: center;
  background-color: #101113; }
  .navbar__links {
    font-size: 25px;
    display: flex;
    justify-content: center; }
    .navbar__links--link {
      text-decoration: none;
      padding: .5rem;
      color: #757575;
      text-align: center;
      font-family: "Montserrat", sans-serif; }
      .navbar__links--link:hover {
        transition: all .2s;
        color: #0b4f6c;
        transform: scale(1.2); }

.header {
  height: 100vh; }
  .header__img {
    background-image: url("../img/header-small.jpg");
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; }
    @media screen and (min-width: 550px) {
      .header__img {
        background-image: url("../img/header-large.jpg"); } }

.section1 {
  background-image: linear-gradient(#101113, silver); }
  .section1__title--text h2 {
    color: silver;
    font-size: 35px;
    text-align: center; }
    .section1__title--text h2:before {
      content: "";
      display: block;
      margin: 0 auto;
      height: 10px;
      background-color: #757575;
      width: 100px; }
  .section1__text {
    width: 50%;
    margin: 0 auto;
    padding-bottom: 30px;
    font-family: "Montserrat", sans-serif; }
    @media screen and (max-width: 600px) {
      .section1__text {
        width: 90%; } }
    .section1__text--text {
      text-align: justify; }
      .section1__text--text h3 {
        font-size: 25px;
        text-align: center;
        margin: 10px; }
  .section1 .card-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: center; }
  .section1 .card {
    width: 200px;
    height: 200px;
    border: solid #208ba8 4px;
    margin: 30px; }
    @media screen and (min-width: 600px) {
      .section1 .card {
        width: 500px;
        height: 500px; } }
  .section1 #left-wing {
    background-image: url("../img/wing.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; }
    .section1 #left-wing p {
      font-family: "Montserrat", sans-serif;
      font-size: 25px;
      color: silver;
      text-align: center;
      letter-spacing: 1.5px;
      margin-top: 10px; }
  .section1 #right-wing {
    background-image: url("../img/wing2.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; }
    .section1 #right-wing p {
      font-family: "Montserrat", sans-serif;
      font-size: 25px;
      color: silver;
      text-align: center;
      letter-spacing: 1.5px;
      color: #101113; }

.section2 {
  background-color: silver; }
  .section2__title--text h2 {
    color: #101113;
    font-size: 35px;
    text-align: center; }
    .section2__title--text h2:before {
      content: "";
      display: block;
      margin: 0 auto;
      height: 10px;
      background-color: #101113;
      width: 90%; }
  .section2__title--text p {
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    width: 50%;
    margin: 0 auto;
    padding-bottom: 30px;
    text-align: justify; }
    @media screen and (max-width: 600px) {
      .section2__title--text p {
        width: 90%; } }
  .section2__form {
    width: 50%;
    margin: 0 auto;
    padding-bottom: 30px; }
    @media screen and (max-width: 500px) {
      .section2__form {
        width: 90%; } }
    .section2__form--content {
      display: flex;
      flex-flow: column; }
      .section2__form--content > * {
        margin: 5px;
        padding: 5px; }
      .section2__form--content input {
        border: solid 2px #208ba8;
        transition-duration: .2s; }
        .section2__form--content input:focus {
          border: solid 2px #208ba8;
          background-color: silver; }
      .section2__form--content #submit-btn {
        cursor: pointer;
        width: 50%;
        margin: 0 auto; }
        .section2__form--content #submit-btn:hover {
          box-shadow: 5px 5px 10px 0px #101113; }

#buy-screen {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  overflow: auto;
  height: 100%;
  width: 100%;
  background-color: #29292985; }
  #buy-screen .buy {
    width: 100%;
    height: 60%;
    background-color: silver;
    padding: 30px;
    animation: 1s animateDown; }
    #buy-screen .buy__title--text h2 {
      text-align: center;
      padding: 10px;
      font-size: 35px; }
    #buy-screen .buy__select--cards {
      display: flex; }

footer {
  background-image: linear-gradient(silver, #208ba8, #0b4f6c);
  padding: 40px 0; }
  footer .footer {
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: center; }
    @media screen and (max-width: 800px) {
      footer .footer {
        flex-flow: column; } }
    footer .footer > div {
      width: 30%;
      margin-bottom: 30px;
      line-height: 1.7; }
      @media screen and (max-width: 800px) {
        footer .footer > div {
          width: 100%; } }
    footer .footer__top {
      flex: 1  1 100%; }
      footer .footer__top h2 {
        color: #0b4f6c;
        text-align: center;
        font-size: 25px; }
      footer .footer__top--images {
        display: flex;
        flex-flow: row wrap;
        align-items: center;
        justify-content: center; }
        footer .footer__top--images img {
          width: 200px;
          height: 100%;
          margin: 10px; }
    footer .footer__left {
      color: silver; }
    footer .footer__right {
      text-align: right;
      color: silver; }

.hidden {
  display: none; }

.font-size-medium {
  font-family: 25px; }

@keyframes animateDown {
  0% {
    transform: translateY(-100%); }
  100% {
    transform: translateY(0); } }
