// Tar bort margin och padding från allt, plus sätter en 
// transition duration för att det ska se fint ut när man resizar fönstret
* {
    margin: 0;
    padding: 0;
    transition-duration: .2s;
}

// Sätter border-box och smooth scroll för att det ska bli fint när man trycker på en länk som scrollar ner
html{
    box-sizing: border-box;
    scroll-behavior: smooth;

}

// Gör så att markering av text ör svart
::selection{
    background-color: $color-black;
    color: $color-white;
}
// Tar bort skit från list
li{
    list-style: none;
}

// Gör alla länkar lite finare
a{
    color: $color-white;
    text-decoration: none;
}
// Sätter font på allt om man glömmer senare
h1, h2, h3, p, label, a, button {
    font-family: $font-montserrat;
}

// Navbar
.navbar { 
    width: 100%;
    z-index: 1000;
    min-height: 60px;
    line-height: 60px;
    justify-self: center;
    background-color: #101113;
    

    &__links{ // Sätter font size och display flex
        font-size: $font-size-medium;
        
        display: flex;
        justify-content: center;


        &--link{ // Sätter saker i mitten och sätter färg
            text-decoration: none;
            padding: .5rem;
            color: $color-grey;
            text-align: center;
            font-family: $font-montserrat;

            &:hover{ // Effekt när musen hovrar över knappen
                transition: all .2s;
                color: $color-dark;
                transform: scale(1.2);
            }
        }
    }
}

.header {
    height: 100vh; //Använder vh för att ta upp hela framsidan
    &__img {
        background-image: url('../img/header-small.jpg');
        height: 100vh;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;

        @media screen and (min-width: 550px){ // Sätter en annan bild om skärmen är stor
            background-image: url('../img/header-large.jpg');
        }
    }
}

.section1 {
    background-image: linear-gradient($color-black, $color-white); // Mjuk övergång från mörkt till ljust på hemsidan

    &__title {
        &--text{
            & h2{
                color: $color-white;
                font-size: $font-size-large;
                text-align: center;
                &:before{ // Sätter en linje övanför med :before
                    content: "";
                    display: block;
                    margin: 0 auto;
                    height: 10px;
                    background-color: $color-grey;
                    width: 100px;
                }
            }
            
        }
    }

    &__text { // Sätter hur mycket texten kan ta upp
        width: 50%;
        margin: 0 auto;
        padding-bottom: 30px;
        font-family: $font-montserrat;

        @media screen and (max-width: 600px){ // Texten tar upp typ hela skärmen på telefon
            width: 90%;
        }
        &--text {
            text-align: justify;
            & h3{
                font-size: $font-size-medium;
                text-align: center;
                margin: 10px;
            }
        }
    }
    & .card-container { // Flex för att placera carden rätt
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
    }
    & .card{ //Mixins används för att göra responsiva cards
        @include card;

        @media screen and (min-width: 600px){
            @include card-large;
        }
    }

    & #left-wing {
        background-image: url('../img/wing.jpg');
        
        @include background-img; //Mixin för att göra bilden fin på nästa card också

        & p {
            @include card-text;
            margin-top: 10px;
        }
    }

    & #right-wing {
        background-image: url('../img/wing2.jpg');

        @include background-img;

        & p {
            @include card-text;
            color: $color-black;
        }
    }

}

.section2 {
    background-color: $color-white;
    &__title {
        &--text{
            & h2 { 

                color: $color-black;
                font-size: $font-size-large;
                text-align: center;
                &:before{
                    content: "";
                    display: block;
                    margin: 0 auto;
                    height: 10px;
                    background-color: $color-black;
                    width: 90% ;
                }
            }
            & p {
                font-family: $font-montserrat;
                font-size: $font-size-small;
                width: 50%;
                margin: 0 auto;
                padding-bottom: 30px;
                text-align: justify;
                @media screen and (max-width: 600px){
                    width: 90%;
                }
            }
        }
    }
    &__form { // Fixar till ett fint form som är responsivt
        width: 50%;
        margin: 0 auto;
        padding-bottom: 30px;
        @media screen and (max-width: 700px){
            width: 90%;
        }
        &--content {
            display: flex;  
            flex-flow: column;

            & > * { // Pekar på allt och sätter en margin och padding
                margin: 5px;
                padding: 5px;
            }
            & input { // Stylar textfälten
                border: solid 2px $color-main; 
                transition-duration: .2s;
                &:focus { // Ändrar bakgrund om den är i fokus
                    
                    border: solid 2px $color-main;
                    background-color: $color-white;
                }
            }
            & #submit-btn { // Gör knappen till en fin knapp
                cursor: pointer;
                width: 50%;
                margin: 0 auto;
                
                &:hover { // Skuggeffekt vid hover
                    box-shadow: 5px 5px 10px 0px $color-black;
                }
            }

        }
    }
}

// Skapar en sektion som kommer fram när man trycker på beställ.
#buy-screen {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    overflow-y: auto;
    height: 100%;
    width: 100%;
    background-color: #29292985;
    
    
    
    .buy { // Tar upp 60% av höjden om skärmen är större än 1000 px och animerar in den
        width: 100%;
        height: 60%;
        background-color: $color-white;
        
        
        animation: 1s animateDown;

        @media screen and (max-width: 1000px){
            height: auto;
        }
        &__title {
            &--text {
                & h2 {
                    text-align: center;
                    padding: 10px;
                    font-size: $font-size-large;
                }
            }
            & #close-modal { // Knappen för att stänga sektionen
                width: 36px;
                height: 36px;
                cursor: pointer;
                position: relative;
                top: 10px;
                left: 90%;
            }
        }
        &__select {
            &--cards { // Container för cardsen
                display: flex;
                flex-flow: row wrap;
                justify-content: center;


                & .buy-card { // Cardsen får form och skugga från mixins
                padding: 20px;
                margin: 30px;
                color: $color-white;
                @include buyCard;
                @include boxShadow;

                @media screen and (max-width: 400px){
                    @include buyCard-small;
                    margin: 30px 0;
                }
                    &--select {
                        margin: 20px;
                        
                    }
                }
            }
            & .buy-button { // 
                text-align: center;
                & button {
                    padding: 10px 20px;
                    border: solid 2px $color-main; 
                    cursor: pointer;
                    text-align: center; 
                        &:hover { // Effekt vid hover
                            box-shadow: 5px 5px 10px 0px $color-black;
                }
                }
            }
        }

        }
    
}


footer { // Sätter bakgrundsfärg på footern oh en padding
    background-image: linear-gradient($color-white, $color-main, $color-dark);
    padding: 40px 0;
    .footer { // Skapar en flexcontainer för bilderna
        width: 90%;
        margin: 0 auto;
        display: flex;
        flex-flow: row wrap;
        justify-content: center;

        @media screen and (max-width: 800px){
            flex-flow: column; // Gör så att bilderna ligger under varandra 
        }
        & > div{ // Väljer alla divs och sätter en bredd
            width: 30%;
            margin-bottom: 30px;
            line-height: 1.7;
            @media screen and (max-width: 800px){
                width: 100%;
            }
        }

        &__top {
            flex: 1  1 100%;

            & h2 {
                color: $color-dark;
                text-align: center;
                font-size: $font-size-medium;
            }
            &--images {
                display: flex;
                flex-flow: row wrap;
                align-items: center;
                justify-content: center;
                & img {
                    width: 200px;
                    height: 100%;
                    margin: 10px;
                }
            }
        }
        &__left {
            color: $color-white;
        }
        &__right {
            text-align: right;
            color: $color-white;

         
        }
    }
}





// Hjälpklasser för att göra saker smidigare om de eventuellt måste användas flera gånger

.hidden {
    display: none;
}

.font-size-medium {
    font-size: $font-size-medium;
}

// Animation för att ta ner köp sektionen

@keyframes animateDown {
    0% {
        transform: translateY(-100%)
    }
    100% {
        transform: translateY(0);
    }
}
