* {
    margin: 0;
    padding: 0;
    transition-duration: .2s;
}

html{
    box-sizing: border-box;
    scroll-behavior: smooth;

}
::selection{
    background-color: $color-black;
    color: $color-white;
}
li{
    list-style: none;
}
a{
    color: $color-white;
    text-decoration: none;
}

h1, h2, h3, p, label, a {
    font-family: $font-montserrat;
}

.navbar {
    width: 100%;
    z-index: 1000;
    min-height: 60px;
    line-height: 60px;
    justify-self: center;
    background-color: #101113;
    

    &__links{
        font-size: $font-size-medium;
        
        display: flex;
        justify-content: center;

   
        &--link{
            text-decoration: none;
            padding: .5rem;
            color: $color-grey;
            text-align: center;
            font-family: $font-montserrat;

            &:hover{
                transition: all .2s;
                color: $color-dark;
                transform: scale(1.2);
            }
        }
    }
}

.header {
    height: 100vh;
    &__img {
        background-image: url('../img/header-small.jpg');
        height: 100vh;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;

        @media screen and (min-width: 550px){
            background-image: url('../img/header-large.jpg');
        }
    }
}

.section1 {
    background-image: linear-gradient($color-black, $color-white);

    &__title {
        &--text{
            & h2{
                color: $color-white;
                font-size: $font-size-large;
                text-align: center;
                &:before{
                    content: "";
                    display: block;
                    margin: 0 auto;
                    height: 10px;
                    background-color: $color-grey;
                    width: 100px;
                }
            }
            
        }
    }

    &__text {
        width: 50%;
        margin: 0 auto;
        padding-bottom: 30px;
        font-family: $font-montserrat;

        @media screen and (max-width: 600px){
            width: 90%;
        }
        &--text {
            text-align: justify;
            & h3{
                font-size: $font-size-medium;
                text-align: center;
                margin: 10px;
            }
        }
    }
    & .card-container {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
    }
    & .card{
        @include card;

        @media screen and (min-width: 600px){
            @include card-large;
        }
        &:hover {
            transition-duration: .5s;
            opacity: 0.75;
        }
    }

    & #left-wing {
        background-image: url('../img/wing.jpg');
        
        @include background-img;

        & p {
            @include card-text;
            margin-top: 10px;
        }
    }

    & #right-wing {
        background-image: url('../img/wing2.jpg');

        @include background-img;

        & p {
            @include card-text;
            color: $color-black;
        }
    }

}

.section2 {
    background-color: $color-white;
    &__title {
        &--text{
            & h2 {

                color: $color-black;
                font-size: $font-size-large;
                text-align: center;
                &:before{
                    content: "";
                    display: block;
                    margin: 0 auto;
                    height: 10px;
                    background-color: $color-black;
                    width: 90% ;
                }
            }
            & p {
                font-family: $font-montserrat;
                font-size: $font-size-small;
                width: 50%;
                margin: 0 auto;
                padding-bottom: 30px;
                text-align: justify;
                @media screen and (max-width: 600px){
                    width: 90%;
                }
            }
        }
    }
    &__form {
        width: 50%;
        margin: 0 auto;
        padding-bottom: 30px;
        @media screen and (max-width: 500px){
            width: 90%;
        }
        &--content {
            display: flex;  
            flex-flow: column;

            & > * {
                margin: 5px;
                padding: 5px;
            }
            & input {
                border: solid 2px $color-main; 
                transition-duration: .2s;
                &:focus {
                    
                    border: solid 2px $color-main;
                    background-color: $color-white;
                }
            }
            & #submit-btn {
                cursor: pointer;
                width: 50%;
                margin: 0 auto;
                
                &:hover {
                    box-shadow: 5px 5px 10px 0px $color-black;
                }
            }

        }
    }
}

#buy-screen {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    overflow: auto;
    height: 100%;
    width: 100%;
    background-color: #29292985;

    
    
    .buy {
        width: 100%;
        height: 70%;
        background-color: $color-white;
        padding: 30px;
        &__title {
            &--text {
                & h2 {
                    text-align: center;
                    padding: 10px;
                    font-size: $font-size-large;
                }
            }
        }
        &__select {
            &--cards {
                
            }
        }

        }
    
}


footer {
    background-image: linear-gradient($color-white, $color-main, $color-dark);
    padding: 40px 0;
    .footer {
        width: 90%;
        margin: 0 auto;
        display: flex;
        flex-flow: row wrap;
        justify-content: center;

        @media screen and (max-width: 800px){
            flex-flow: column;
        }
        & > div{
            width: 30%;
            margin-bottom: 30px;
            line-height: 1.7;
            @media screen and (max-width: 800px){
            width: 100%;
            }
        }

        &__top {
            flex: 1  1 100%;

            & h2 {
                color: $color-dark;
                text-align: center;
                font-size: $font-size-large;
            }
            &--images {
                display: flex;
                flex-flow: row wrap;
                align-items: center;
                justify-content: center;
                & img {
                    width: 200px;
                    height: 100%;
                    margin: 10px;
                }
            }
        }
        &__left {
            color: $color-white;
        }
        &__right {
            text-align: right;
            color: $color-white;

         
        }
    }
}





// Hjälpklasser

.hidden {
    display: none;
}