@mixin card {
    width: 200px;
    height: 200px;
    border: solid $color-main 4px;
    margin: 30px;
}
@mixin card-large { // Skapar en mixin som ska användas i en media query
    width: 500px;
    height: 500px;
}

@mixin buyCard {
    width: 300px;
    background-color: $color-dark;
    border-radius: 5px;

}

@mixin buyCard-small {
    width: 80%;
}

@mixin boxShadow {
    box-shadow: 10px 10px 15px $color-black;
}
@mixin background-img {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

@mixin card-text {
                font-family: $font-montserrat;
            font-size: $font-size-medium;
            color: $color-white;
            text-align: center;
            letter-spacing: 1.5px;
}