/* Coolors Exported Palette - coolors.co/56d73d-0b4f6c-01baef-fbfbff-757575 */

/* HSL */
// $color1: hsla(110%, 66%, 54%, 1);
// $color2: hsla(198%, 82%, 23%, 1);
// $color3: hsla(193%, 99%, 47%, 1);
// $color4: hsla(240%, 100%, 99%, 1);
// $color5: hsla(0%, 0%, 46%, 1);

/* RGB */
$color-green: rgb(43, 165, 59);
$color-dark: rgb(11, 79, 108);
$color-light: rgb(1, 186, 239);
$color-main: rgb(32, 139, 168);
$color-white: rgb(192, 192, 192);
$color-grey: rgb(117, 117, 117);
$color-black: #101113;











$color-green213: #81d2c7;